.search-page {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: #f0f8ff;
    border-radius: 10px;
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 2px solid #008080;
    border-radius: 5px;
    background-color: #e6f9ff;
}

.search-results table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search-results th, .search-results td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.search-results th {
    background-color: #20b2aa;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.search-results tr:nth-child(even) {
    background-color: #e0ffff;
}

.search-results tr:nth-child(odd) {
    background-color: #afeeee;
}

.search-results tr:hover {
    background-color: #87cefa;
}

.search-results td {
    color: #006064;
}

.search-results button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: #008080;
    transition: background-color 0.3s ease;
}

.search-results button:hover {
    background-color: #20b2aa;
}
